In [1]:
import datetime
import numpy as np
import pandas as pd
from sklearn import linear_model as lm

# foucus on PM2.5

fs = pd.read_csv('E:/working/DataMining/fangshan.csv')
fs = fs.drop(['weather', 'station_id', 'longitude', 'latitude', 'PM10', 'NO2', 'CO', 'O3', 'SO2'], axis=1)

def feature_vector(df, feature, N):
    rows = df.shape[0]
    for j in range(N):
        delta = datetime.timedelta(days=j+1)
        column = []
        for i in range(rows):
            utc_time = datetime.datetime.strptime(fs['utc_time'][i], '%Y-%m-%d %H:%M:%S')
            next_time = utc_time + delta
            try:
                s = df[df['utc_time'] == next_time.strftime('%Y-%m-%d %H:%M:%S')][feature]
                column.append(s[s.index[0]])
            except:
                column.append(np.nan)
        df[feature + '_' + str(j + 1)] = column

feature_vector(fs, 'PM2.5', 5)
fs.head()

,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,PM2.5,PM2.5_1,PM2.5_2,PM2.5_3,PM2.5_4,PM2.5_5
0,2017-01-30 16:00:00,-2.6,1026.1,14,215.0,3.3,114.0,31.0,135.0,217.0,406.0,423.0
1,2017-01-30 17:00:00,-2.7,1025.8,15,217.0,3.5,116.0,19.0,88.0,212.0,388.0,428.0
2,2017-01-30 18:00:00,-2.8,1025.6,17,228.0,3.2,117.0,13.0,74.0,181.0,371.0,398.0
3,2017-01-30 19:00:00,-2.8,1025.0,18,228.0,1.8,118.0,13.0,99.0,180.0,376.0,306.0
4,2017-01-30 20:00:00,-3.1,1024.1,17,209.0,2.4,118.0,10.0,96.0,130.0,374.0,191.0

In [2]:
fs = fs.drop(['temperature', 'pressure', 'humidity', 'wind_direction', 'wind_speed', 'utc_time'], axis=1)
na_area = fs[fs.isnull().values == True]
for i in na_area.columns[2:]:
    print(i, len(na_area[na_area[i].isnull() == True]))

PM2.5_2 1248
PM2.5_3 1521
PM2.5_4 1667
PM2.5_5 1723

In [3]:
fs = fs.dropna(thresh=6)
fs.describe()

,PM2.5,PM2.5_1,PM2.5_2,PM2.5_3,PM2.5_4,PM2.5_5
count,6473.000000,6473.000000,6473.000000,6473.000000,6473.000000,6473.000000
mean,55.549137,55.861048,56.336771,55.895024,56.587207,54.413882
std,54.700033,55.701842,56.555399,57.333483,61.087412,56.037461
min,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
25%,19.000000,19.000000,19.000000,19.000000,18.000000,18.000000
50%,42.000000,42.000000,43.000000,42.000000,42.000000,41.000000
75%,72.000000,72.000000,73.000000,72.000000,71.000000,70.000000
max,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000

In [4]:
fs.corr()[['PM2.5_5']].sort_values('PM2.5_5')
# 过去几天同一时刻的空气质量指数与未来几天同一时刻的的空气质量指数相关性不大。

          PM2.5_5
PM2.5_1 -0.023983
PM2.5    0.006602
PM2.5_2  0.048679
PM2.5_3  0.059653
PM2.5_4  0.287853
PM2.5_5  1.000000